#home{
    background: url('https://cdn6.dissolve.com/p/D2115_304_590/D2115_304_590_1200.jpg') no-repeat center center/cover;
}
.on{
    margin-top: 4rem;
    color:rgb(255, 255, 255);
    font-size:4em;
}
.free{
    color: rgb(253, 252, 251);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin-bottom: 17rem;
}

.wel{
    color: rgb(127, 127, 127);
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.black{
    color: rgb(45,45,45);
}
#services{
    background-color:rgb(242, 242, 242);
}
.our{
    color: rgb(111,111, 111);
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    margin-top: 2rem;
}
.para{
    color: rgb(162, 162, 162);
    margin-bottom: 3rem;
}
#somecharts{
    background-color: rgb(225, 225, 225);
}
.some{
    color: rgb(82, 82, 82);
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 2rem;  
}
.para1{
    color: rgb(110, 110, 110);
    margin-bottom: 5rem;
    
}
#we{
    background-color: rgb(255, 255, 255);
    margin-top: 3rem;
    
}
.we1{
    font-size: 1.5rem ;
    color: rgb(127, 127, 127);
    line-height: 25px;
    margin-bottom: 3rem;
    
}
.highlight{
    color: rgb(44, 44, 44);
}
#about{
    background-color: rgb(242, 242, 242);
}
.ab{
    color: rgb(82, 82, 82);
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 3rem; 
}
.dum{
    color: rgb(159, 159, 159);
    margin-bottom: 3rem;
}
#contact{
    background-color: rgb(43, 43, 43);
    
}
.con{
    color: rgb(255, 255, 255);
    margin-top: 5rem;
}
.con1{
    color: rgb(255, 255, 255);
    margin-top: 3rem;
}
.con2{
    color: rgb(168, 168, 168);
    font-size: 1.5rem;
}
.cont{
    color: rgb(255, 255, 255);
    margin-top: 3rem;
}
.your{
    color: rgb(148, 148, 148);
    text-align: start !important;
}
.your1{
    color: rgb(148, 148, 148);
    text-align: start !important;
    margin-top: 1rem;
}
.btn{
    background-color: rgb(248, 91, 53);
    color:rgb(255, 243, 241);
    margin-top: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}